html{
	/* Set height of the html page to 100% of the browser height */
	height: 100%;
	/* Hide horizontal scroll */
	overflow-x: hidden;
	font-family: 'Helvetica', sans-serif;
}

body{
	/* Set height of the body to 100% -- separated out of html to allow scrollTo animation */
	height: 100%;
	margin: 0px;
}

/* 
Navigation Bar 
*/
#nav{
	/* Fix navigation bar at the top middle of the web page */
    position: fixed;
    /* calc() CSS function calculates numbers of different units */
    left: calc(50% - 50px);
    top: 20px;
    /* Display nav bar on top of everything else */
    z-index: 1;
}

.nav-btn{
	width: 20px;
    height: 20px;
    /* Make square div into a circle */
    border-radius: 50%;
    background-color: white;
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
    /* transition changes in background-color */
    transition: background-color 0.5s;
}

/* When a nav-btn is hovered on, set background-color to black */
.nav-btn:hover{
	background-color: black;
}

/* 
Girl Div
*/
#girl-div{
	/* Fix girl div in the bottom left corner of the web page */
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 150px;
	text-align: center;
}

#girl{
	width: 150px;
	margin-top: 18px;
}

#girl-text{
	color: white;
	background-color: black;
	font-size: 25px;
}

/* 
Parallax: Bedroom and School sections;
*/
#Bedroom, #School{
	/* Set height of div to 100% */
	height: 100%;
	/* The bottom three background CSS settings create parallax effect */
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

#Bedroom{
	/* Set background image of Bedroom section using url() function */
	background-image: url('Images/IMG_0664.JPG');
}

#School{
	/* Set background image of School section using url() function */
	background-image: url('Images/IMG_0665.JPG');
}

/* 
mother div inside Bedroom section
*/
#mother-div{
    position: relative;
    width: 800px;
    text-align: center;
    top: calc(100% - 800px);
    left: calc(50% - 150px);
}

#mother{
	width: 850px;
	margin-top: 25px;
}

/* 
Teacher div inside School section
*/
#teacher-div{
    position: relative;
    width: 180px;
    text-align: center;
    top: calc(100% - 500px);
    left: calc(50% - 90px);
}

#teacher-text{
	color: black;
	background: white;
}

#teacher{
    width: 400px;
    display: block;
    margin: auto;
}

/* 
Text sections after Bedroom and School sections
*/
.text-section{
	/* Center text in the middle of browser using flexbox */
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text{
	width: 70%;
}